/* #region Common */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


:root {
    --primary-color: #4834d4;
    --success-color: #6ab04c;
    --dark-green: #104908;
    --middle-green: #19660f;
    --green-bg-color: #f6ffeb;
    --warning-color: #f0932b;
    --danger-color: #eb4d4b;
    --Eggshell: #E6F2D8;
    --Milk: #F9FCF5;

    --light-color: #212529;
    --light-second-color: #727475;
    --light-background: #ffffff;
    --light-second-background: #f1f1f1;

    --dark-color: #a8a8a8;
    --dark-second-color: #f5f6fa;
    --dark-background: #212125;
    --dark-second-background: #181818;
    --dark-oliver: #4F7616;

    --footer-bg-color: #1c1d1d;
    --z-modal: 1000;
}

.text-field-margin {
    margin: 1rem 1rem 0;
}

.info_logo {
    background-image: url('../assets/img/ic_info.svg');
    width: 5rem;
    height: 5rem;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.bxs-circle:before {
    color: var(--dark-oliver);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

html {
    scroll-behavior: smooth;
    background: var(--Milk);
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.col-2 {
    width: 50%;
}

section {
    padding: 80px 0;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* #endregion */

/* #region Header */

.header-bar {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5vh;
    margin-top: -15vh;
    position: absolute;
}

.header-bar-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.header-bar-properti {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.header-text {
    padding-top: 20px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.side_logo {
    display: flex;
    width: 90px;
    margin: 1rem;
}

.logo {
    width: 120px;
    margin-bottom: 3rem;
    box-shadow: 2px 5px 9px var(--light-color);
    border-radius: 60px;
}

/* #endregion */

/* #region Scroll Bar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* #endregion */

/* #region Cover */

.cover {
    width: 100%;
    height: 90vh;
    color: #272222;
    text-align: center;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#conten-right {
    float: left;
    width: 50%;
}

#conten-side {
    float: right;
    width: 50%;
    margin-top: 1rem;
    margin-right: 1rem;
}

.cover-content {
    width: 50%;
    margin: auto 0;
    position: absolute;
}

.cover-content .text-2 {
    font-size: 4rem;
    font-weight: 600;
    color: var(--light-color);
}

.cover-content a {
    width: 150px;
    color: #fff;
    font-size: 1.4em;
    padding: 12px 36px;
    margin-top: .5rem;
    font-weight: 500;
    transition: all 0.3s ease;
}

.cover-content a:hover {
    color: var(--dark-green);
}

/* #endregion */

/* #region Daftar Sekolah */

.daftar-item {
    background-color: white;
    border-radius: 20px;
    margin: 16px;
    padding: 20px;
    text-align: center;
    transition: all 0.35s ease-in-out;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.icon {
    margin: 25px auto;
}

.daftar-item h3 {
    margin-bottom: 25px;
}

.button {
    text-decoration: none;
    display: inline-block;
    background-color: var(--leaf);
    color: #fff;
    padding: .6rem 1rem;
    margin-top: .5rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    font-size: 1em;
    transition: .3s;
    width: 150px;
    margin-top: .5rem;
}

.button:hover {
    background-color: var(--Eggshell);
    font-weight: var(--font-bold);
    color: var(--leaf);
    outline: solid .5px;
    outline-color: var(--leaf);
}

.daftar-carousel .owl-dots {
    text-align: center;
}

.daftar-carousel .owl-dot {
    height: 15px;
    width: 15px;
    border-radius: 7px;
    cursor: pointer;
    outline: none;
    margin: 0 5px;
    border: 2px solid var(--dark-green) !important;
    transition: all 0.30s ease-in;
}

.daftar-carousel .owl-dot:hover,
.daftar-carousel .owl-dot.active {
    background: var(--dark-green) !important;
    width: 30px;
}

/* #endregion */

/* #region Daftar Modal */

.modal {
    height: 100vh;
    display: grid;
    place-items: center;
}

.modal__img {
    width: 100px;
    margin-bottom: 2rem;
}

.modal__button {
    display: inline-block;
    background-color: var(--dark-green);
    color: var(--green-bg-color);
    margin-top: 1.5rem;
    padding: 1rem 1.25rem;
    border-radius: .5rem;
    transition: .3s;
    align-self: center;
    font-size: 1em;
}

.modal__button:hover {
    background-color: var(--success-color);
    color: var(--success-color);
}

.modal__container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2a2a2a54;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: flex-end;
    overflow: hidden;
    transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: var(--z-modal);
    visibility: hidden;
    opacity: 0;
}

.modal__content {
    position: relative;
    background-color: white;
    text-align: center;
    padding: 2rem;
    border-radius: 1rem 1rem 0 0;
    transition: all .3s;
    transform: translateY(10%);
}

.modal__close {
    position: absolute;
    display: inline-flex;
    font-size: 1.5rem;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.modal__title {
    color: var(--dark-green);
}

.modal__description {
    margin: 1rem 0 1.5rem 0;
}

.modal__content p,
.modal__content i {
    margin: 0.5rem;
    align-self: center;
}

.modal__button-width {
    width: 90%;
}

.modal__button-link {
    display: block;
    margin: 1rem auto;
    background-color: transparent;
}

.show-modal {
    visibility: visible;
    opacity: 1;
    animation-delay: 2s;
}

.show-modal .modal__content {
    transform: translateY(0);
}

.with-background {
    background-color: var(--green-bg-color);
    padding: .5rem;
    border-radius: .5rem;
}

/* #endregion */

.content {
    padding: 20px 30px;
    background: var(--dark-oliver);
    color: var(--dark-second-color);
    border-radius: 10px;
    line-height: 25px;
}

.content p {
    margin-top: 10px;
}

/* #endregion */

/* #region Deprecated */

.about .about-content,
.services .serv-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

section .title {
    font-size: 2em;
    position: relative;
    text-align: center;
    margin-bottom: 1.7em;
    padding-bottom: 20px;
    color: var(--light-color);
}

.jadwal2 {
    background-color: var(--dark-second-background);
    color: var(--green-bg-color);
}

.jadwal {
    z-index: 2;
    width: 80%;
    margin: auto;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    background-color: var(--dark-background);
}

table tr td:nth-child(1) {
    text-align: center;
}

th,
td {
    padding: 15px 12px;
    outline: solid #bebebe 0.5px;
}

td {
    text-align: left;
}

th {
    background: rgb(56, 142, 60);
}

.small-text {
    font-size: .7em;
}

/* #endregion */

/* #region Responsive */

@media (max-width: 1300px) {
    .cover .max-width {
        margin-left: 0px;
    }

    .card ul li {
        margin-left: 10em;
    }
}

@media (max-width: 1104px) {
    .about .about-content .left img {
        height: 350px;
        width: 350px;
    }

    .card ul li {
        margin-left: 8em;
    }
}

@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }

    .card ul li {
        margin-left: 5em;
    }
}

@media (max-width: 947px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }

    .button {
        width: 100%;
    }

    .menu-btn i.active:before {
        content: "\f00d";
    }

    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active {
        left: 0;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .hilang {
        display: none;
    }

    #conten-right {
        float: none;
        width: 100%;
    }

    .cover .cover-content .text-2 {
        font-size: 3.2rem;
    }

    .cover .cover-content a {
        font-size: 23px;
        padding: 10px 30px;
        width: 100%;
    }

    .flex-column {
        display: flex;
        flex-direction: column;
    }

    .text-field-margin {
        margin: 1rem 0 1rem 0;
    }

    .side_logo {
        width: 80px;
    }

    .mobile-size-font-logo-h3 {
        font-size: 1em;
    }

    .mobile-size-font-logo-p {
        font-size: .6em;
    }

    .max-width {
        max-width: 930px;
    }

    .about .about-content .column {
        width: 100%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .services .serv-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills-content .column,
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 25px;
    }
}

@media (max-width: 760px) {
    .side_logo {
        width: 60px;
    }

    .header-bar-properti {
        flex-wrap: initial;
    }

    .header-bar-container {
        flex-wrap: initial;
    }
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }

    .cover .cover-content .text-2 {
        font-size: 2.9rem;
    }

    .cover .cover-content a {
        font-size: 20px;
    }

    .services .serv-content .card {
        width: 100%;
    }

    .jadwal2 .jadwal {
        width: 85%;
    }

    .footer-flex {
        flex-direction: column;
    }

    .footer-flex div {
        width: 100%;
        padding: 20px;
    }

    .timeline::before {
        left: 25px;
        top: 40px;
    }

    .timeline .container {
        width: 100%;
        padding-left: 48px;
        padding-right: 25px;
    }

    .timeline .container::before {
        left: 10px;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .timeline .left::after,
    .timeline .right::after {
        left: -7px;
        z-index: 1;
    }

    .timeline .right {
        left: 0;
    }

    .timeline .content {
        text-align: left;
    }
}

@media (min-width: 700px) {
    .modal__content {
        margin: auto;
        width: 380px;
        border-radius: 1.2rem;
    }

    .timeline::before {
        height: 89%;
    }
}

@media (max-width: 600px) {
    .mobile-size-font-logo-h3 {
        font-size: .8em;
    }

    .mobile-size-font-logo-p {
        font-size: .6em;
    }

    .cover-content {
        width: 80%;
    }
}

@media (max-width: 500px) {
    .cover .cover-content .text-2 {
        font-size: 2.5rem;
        margin-top: 5rem;
    }

    .display-none {
        display: none;
    }

    .side_logo {
        width: 80px;
    }

    .mobile-size-font-logo-h3 {
        font-size: 1.2em;
        text-align: center;
    }

    .mobile-size-font-logo-p {
        font-size: 1em;
        text-align: center;
        min-width: 200px;
    }

    .header-bar-properti {
        flex-wrap: wrap;
        margin-top: 1rem;
    }

    .header-bar-container {
        flex-wrap: initial;
    }

    .button {
        font-weight: var(--font-medium);
    }

    .logo {
        margin-top: 4rem;
    }

    .about .about-content .right .text,
    .skills .skills-content .left .text {
        font-size: 19px;
    }

    .card ul li {
        margin-left: 2em;
    }

    .contact .right form .fields {
        flex-direction: column;
    }

    .contact .right form .name,
    .contact .right form .email {
        margin: 0;
    }

    .scroll-up-btn {
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}

@media (max-width: 400px) {
    .max-width {
        padding: 0 23px;
    }

    .cover {
        height: 130vh;
    }
}

/* #endregion */