/* #region Common */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #4834d4;
    --success-color: #6ab04c;
    --dark-green: #104908;
    --middle-green: #19660f;
    --green-bg-color: #f6ffeb;
    --warning-color: #f0932b;
    --danger-color: #eb4d4b;

    --light-color: #212529;
    --light-second-color: #727475;
    --light-background: #ffffff;
    --light-second-background: #f1f1f1;

    --dark-color: #a8a8a8;
    --dark-second-color: #f5f6fa;
    --dark-background: #212125;
    --dark-second-background: #181818;

    --footer-bg-color: #1c1d1d;
    --z-modal: 1000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

html {
    scroll-behavior: smooth;
    background: var(--green-bg-color);
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.col-2 {
    width: 50%;
}

section {
    padding: 80px 0;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* #endregion */

/* #region Header */

.header-bar {
    background-color: var(--middle-green);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 7vh 20px 11vh 20px;
    border-radius: 20px;
    margin-top: -24vh;
    position: absolute;
}

.header-text {
    padding-top: 20px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.logo {
    width: 120px;
    margin-top: 110px;
    position: absolute;
    box-shadow: 2px 5px 9px var(--light-color);
    border-radius: 60px;
}

/* #endregion */

/* #region Scroll Bar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* #endregion */

/* #region Cover */

.cover {
    width: 100%;
    height: 80vh;
    color: #272222;
    text-align: center;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 21vh;
    background-image: url(images/pexels-ryutaro-tsukata-6249395.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.cover-content {
    margin: auto 0;
}

.cover-content .text-2 {
    font-size: 4rem;
    font-weight: 500;
    margin-left: -3px;
    color: var(--green-bg-color);
}

.cover-content a {
    width: 180px;
    display: inline-block;
    background: var(--dark-green);
    box-shadow: 0px 0px 2px #2f2f2f;
    color: #fff;
    font-size: 1.4em;
    padding: 12px 36px;
    margin-top: 1em;
    font-weight: 500;
    border-radius: 12px;
    transition: all 0.3s ease;
    align-self: center;
}

.cover-content a:hover {
    color: var(--dark-green);
    background-color: var(--green-bg-color);
    box-shadow: 0px 2px 5px #2f2f2f;
}

/* #endregion */

/* #region Daftar Sekolah */

.daftar-item {
    background-color: white;
    border-radius: 20px;
    margin: 16px;
    padding: 20px;
    text-align: center;
    transition: all 0.35s ease-in-out;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.icon {
    margin: 25px auto;
}

.daftar-item h3 {
    margin-bottom: 25px;
}

.button {
    width: 80%;
    margin: 5px auto;
    padding: 10px;
    height: 40px;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: .9rem;
    font-family: 'Quicksand', sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    background: var(--dark-green);
    outline: none;
    cursor: pointer;
    flex: 1;
}

.daftar-carousel .owl-dots {
    text-align: center;
}

.daftar-carousel .owl-dot {
    height: 15px;
    width: 15px;
    border-radius: 7px;
    cursor: pointer;
    outline: none;
    margin: 0 5px;
    border: 2px solid var(--dark-green) !important;
    transition: all 0.30s ease-in;
}

.daftar-carousel .owl-dot:hover,
.daftar-carousel .owl-dot.active {
    background: var(--dark-green) !important;
    width: 30px;
}

/* #endregion */

/* #region Daftar Modal */

.modal {
    height: 100vh;
    display: grid;
    place-items: center;
}

.modal__img {
    width: 100px;
    margin-bottom: 2rem;
}

.modal__button {
    display: inline-block;
    background-color: var(--dark-green);
    color: var(--green-bg-color);
    margin-top: 1.5rem;
    padding: 1rem 1.25rem;
    border-radius: .5rem;
    transition: .3s;
    align-self: center;
    font-size: 1em;
}

.modal__button:hover {
    background-color: var(--middle-green);
}

.modal__container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2a2a2a54;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: flex-end;
    overflow: hidden;
    transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: var(--z-modal);
    visibility: hidden;
    opacity: 0;
}

.modal__content {
    position: relative;
    background-color: white;
    text-align: center;
    padding: 2rem;
    border-radius: 1rem 1rem 0 0;
    transition: all .3s;
    transform: translateY(10%);
}

.modal__close {
    position: absolute;
    display: inline-flex;
    font-size: 1.5rem;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.modal__title {
    color: var(--dark-green);
}

.modal__description {
    margin: 1rem 0 1.5rem 0;
}

.modal__content p,
.modal__content i {
    margin: 0.5rem;
    align-self: center;
}

.modal__button-width {
    width: 90%;
}

.modal__button-link {
    display: block;
    margin: 1rem auto;
    background-color: transparent;
}

.show-modal {
    visibility: visible;
    opacity: 1;
    animation-delay: 2s;
}

.show-modal .modal__content {
    transform: translateY(0);
}

.with-background {
    background-color: var(--green-bg-color);
    padding: .5rem;
    border-radius: .5rem;
}

/* #endregion */

/* #region Timeline */

.timeline {
    background: var(--middle-green);
    margin: 0 auto;
    position: relative;
}

.timeline .title {
    color: white;
    font-size: 2rem;
}

.timeline::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    left: 50%;
    bottom: 0;
    background: white;
    margin-left: -3px;
    border-radius: 3px;
}

.timeline .container {
    padding: 10px 40px;
    position: relative;
    width: 50%;
}

.timeline .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    top: 15px;
    right: -13px;
    border-radius: 50%;
    background: var(--green-bg-color);
    box-shadow: 0px 2px 7px var(--dark-second-background);
}

.timeline .left {
    text-align: right;
}

.timeline .right {
    left: 50%;
}

.timeline .right::after {
    left: -13px;
}

.timeline .left::before {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    top: 17px;
    right: 30px;
    border: 10px solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.timeline .right::before {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    top: 17px;
    left: 30px;
    border: 10px solid white;
    border-width: 10px 10px 10px 0px;
    border-color: transparent white transparent transparent;
}

.content {
    padding: 20px 30px;
    background: white;
    border-radius: 10px;
    line-height: 25px;
}

.content p {
    margin-top: 10px;
}

/* #endregion */

/* #region Footer */

footer {
    display: flex;
    flex-direction: column;
}

.footer-flex {
    display: flex;
    flex-direction: row;
    padding: 3% 3% 50px 3%;
    background-color: var(--middle-green);
    color: white;
    margin-bottom: -20px;
    border-radius: 20px;
}

.footer-flex div {
    width: 33.3%;
    padding: 20px;
}

.col p {
    margin-top: 10px;
    line-height: 25px;
}

.copyright {
    padding: 20px;
    background-color: var(--dark-green);
    color: white;
}

/* #endregion */

/* #region Deprecated */

.about .about-content,
.services .serv-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

section .title {
    position: relative;
    text-align: center;
    margin-bottom: 1.7em;
    padding-bottom: 20px;
}

/* about section styling */

.about .about-content .left {
    width: 45%;
}

.about .about-content .left img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span {
    color: rgb(56, 142, 60);
}

.about .about-content .right p {
    text-align: justify;
}

.about .about-content .right a {
    display: inline-block;
    background: var(--dark-green);
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 12px;
    border: 2px solid var(--dark-green);
    transition: all 0.3s ease;
}

.about .about-content .right a:hover {
    color: rgb(56, 142, 60);
    background: none;
}


/* services section styling */

.services {
    color: #fff;
    background: #111;
}

.services .serv-content .card {
    width: 70%;
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 2em;
    cursor: pointer;
    transition: all 0.3s ease;
    line-height: 1.5em;
    margin-top: 1em;
}

.services .serv-content .card:hover {
    background: rgb(56, 142, 60);
}

.services .serv-content .card .box {
    transition: all 0.3s ease;
}

.services .serv-content .card .box p {
    font-size: 1em;
}

.services .serv-content .card:hover .box {
    transform: scale(1.02);
}

.services .serv-content .card i {
    font-size: 1em;
    transition: color 0.3s ease;
}

.services .serv-content .card:hover i {
    color: #fff;
}

.services .serv-content .card .text {
    font-size: 1.3em;
    font-weight: 600;
    margin: 10px 0 7px 0;
}

.card ul li {
    text-align: left;
    margin-left: 1em;
}

/* teams section styling */

/* jadwal section styling */

.jadwal2 {
    background-color: var(--dark-second-background);
    color: var(--green-bg-color);
}

.jadwal {
    z-index: 2;
    width: 80%;
    margin: auto;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    background-color: var(--dark-background);
}

table tr td:nth-child(1) {
    text-align: center;
}

th,
td {
    padding: 15px 12px;
    outline: solid #bebebe 0.5px;
}

td {
    text-align: left;
}

th {
    background: rgb(56, 142, 60);
}

.small-text {
    font-size: .7em;
}

/* #endregion */

/* #region Responsive */

@media (max-width: 1300px) {
    .cover .max-width {
        margin-left: 0px;
    }
}

@media (max-width: 1104px) {
    .about .about-content .left img {
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
}

@media (max-width: 947px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }

    .menu-btn i.active:before {
        content: "\f00d";
    }

    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active {
        left: 0;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .cover .cover-content .text-2 {
        font-size: 3.2rem;
    }

    .cover .cover-content a {
        font-size: 23px;
        padding: 10px 30px;
    }

    .max-width {
        max-width: 930px;
    }

    .about .about-content .column {
        width: 100%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .services .serv-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills-content .column,
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 25px;
    }
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }

    .cover .cover-content .text-2 {
        font-size: 2.9rem;
    }

    .cover .cover-content a {
        font-size: 20px;
    }

    .services .serv-content .card {
        width: 100%;
    }

    .jadwal2 .jadwal {
        width: 85%;
    }

    .footer-flex {
        flex-direction: column;
    }

    .footer-flex div {
        width: 100%;
        padding: 20px;
    }

    .timeline::before {
        left: 31px;
    }

    .timeline .container {
        width: 100%;
        padding-left: 48px;
        padding-right: 25px;
    }

    .timeline .container::before {
        left: 40px;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .timeline .left::after,
    .timeline .right::after {
        left: -4px;
        z-index: 1;
    }

    .timeline .right {
        left: 0;
    }

    .timeline .content {
        text-align: left;
    }
}

@media (min-width: 700px) {
    .modal__content {
        margin: auto;
        width: 380px;
        border-radius: 1.2rem;
    }

    .timeline::before {
        height: 70%;
    }
}

@media (max-width: 500px) {
    .cover .cover-content .text-2 {
        font-size: 2.5rem;
    }

    .about .about-content .right .text,
    .skills .skills-content .left .text {
        font-size: 19px;
    }

    .contact .right form .fields {
        flex-direction: column;
    }

    .contact .right form .name,
    .contact .right form .email {
        margin: 0;
    }

    .scroll-up-btn {
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}

@media (max-width: 400px) {
    .max-width {
        padding: 0 23px;
    }
}

/* #endregion */