.small-margin-left {
    margin-left: .8rem;
}

.tiny-margin-left {
    margin-left: .4rem;
}

.medium-margin-top {
    margin-top: 2rem;
}

.medium-margin-vertical {
    margin-top: 2rem;
    margin-bottom: 2rem;
}