<div class="flex-row status-buttons-container">
    <div style="display: contents;">
        <button id="btnLulusPertama" class="card-dibayar card-color-leaf">
            <i class="fa-solid fa-school-circle-check"></i> Lulus Tahap Pertama
        </button>
        <button id="btnLulus" class="card-dibayar card-color-leaf">
            <i class="fa-solid fa-building-circle-check"></i> Lulus
        </button>
        <button id="btnLulusBersyarat" class="card-dibayar card-color-Dandelion">
            <i class="fa-solid fa-envelope-circle-check"></i> Lulus Bersyarat
        </button>
        <button id="btnCadangan" class="card-dibayar card-color-Dandelion">
            <i class="fa-solid fa-school-circle-exclamation"></i> Cadangan
        </button>
        <button id="btnBelumDiterima" class="card-dibayar card-color-rose">
            <i class="fa-solid fa-school-circle-xmark"></i> Belum Diterima
        </button>
    </div>
</div>