/* #region Common */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #4834d4;
    --success-color: #6ab04c;
    --dark-green: #104908;
    --middle-green: #19660f;
    --green-bg-color: #f6ffeb;
    --warning-color: #f0932b;
    --danger-color: #eb4d4b;

    --light-color: #212529;
    --light-second-color: #727475;
    --light-background: #ffffff;
    --light-second-background: #f1f1f1;

    --dark-color: #a8a8a8;
    --dark-second-color: #f5f6fa;
    --dark-background: #212125;
    --dark-second-background: #181818;

    --footer-bg-color: #1c1d1d;
    --z-modal: 1000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

html {
    scroll-behavior: smooth;
    background: var(--green-bg-color);
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-fixed {
    display: flex;
    flex-direction: row;
}

.flex-row-wrap-fixed {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.col-2 {
    width: 50%;
    padding: 2em 2.2em 0 2.2em;
}

.quicksand {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

/* #endregion */

/* #region Header */

.header-bar {
    background-color: var(--middle-green);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    margin-top: -20px;
    border-radius: 20px;
}

.header-text {
    padding-top: 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700
}

.header-description {
    color: white;
    margin-top: .8em;
    text-align: center;
    font-size: .8em;
}

.box-info {
    margin-top: 2em;
    padding: 15px;
    text-align: left;
    background-color: #f0ed3a5b;
    border-radius: 12px;
}

.box-info h5 {
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.box-info > i {
    margin-top: 12px;
}

.box-status {
    padding: 15px;
    text-align: left;
    background-color: #f0ed3a5b;
    border-radius: 12px;
}

/* #endregion */

/* #region Formulir */

.input-text {
    border: .1em solid var(--light-second-color);
    border-radius: 12px;
    font-size: .9em;
    padding: .6em;
    width: 100%;
    margin-top: .8em;    
    text-transform: capitalize;
}

.button {
    background-color: var(--dark-green);
    border-radius: 12px;
    font-size: .9em;
    text-align: center;
    padding: .7em;
    width: 100%;
    margin-top: .8em;
    margin-bottom: 3em;
    color: white;
}

/* #endregion */

/* #region Image Upload */

.img-container {
    height: 40vh;
    place-items: center;
    text-align: center;
}

.img-container .img-wrapper {
    position: relative;
    height: 80%;
    width: 100%;
    border-radius: 10px;
    border: 2px dashed var(--light-color);
    background: var(--light-second-background);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.img-wrapper .image {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-wrapper .image img,
#gambar {
    height: 100%;
    width: 100%;
    object-fit: cover;
    outline: none;
    border: none;
}

.img-wrapper .icon {
    font-size: 70px;
    color: var(--dark-green);
}

.img-wrapper .text {
    font-size: 1rem;
    font-weight: 500;
    color: var(--dark-green);
}

.img-wrapper #cancel-btn {
    position: absolute;
    color: #fff;
    right: 15px;
    top: 15px;
    cursor: pointer;
    display: none;
}

.img-wrapper.active #cancel-btn {
    display: block;
    transition: height .5s;
}

.img-wrapper .file-name {
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: #fff;
    padding: 8px 0;
    font-size: .9rem;
    display: none;
    background: var(--light-color);
}

.img-wrapper.active .file-name {
    display: block;
    transition: height .5s;
}

.img-container #custom-btn {
    margin-top: 20px;
    width: 100%;
    display: block;
    border: none;
    color: #fff;
    font-size: .9rem;
    background: var(--light-color);
    outline: none;
    cursor: pointer;
}

.hide-file-input {
    display: none;
}

/* #endregion */

/* #region Responsive */

@media (max-width: 600px) {
    .col-2 {
        width: 100%;
    }

    .flex-row {
        display: flex;
        flex-direction: column;
    }
}

/* #endregion */