<div class="card-menunggu-pembayaran">
    <div class="box-menunggu-pembayaran">
        <div class="no-pendaftaran" style="margin: 2rem;">
            No. Pendaftaran
            <p name="txtNoPendaftaranCancelled"
                style="font-size: 20px; font-weight: var(--font-bold); margin-top: 5px;">
                000
            </p>
        </div>

        <div class="nama-pendaftaran" style="margin: 2rem;">
            <h3 name="txtNamaSiswaCancelled">Nama Pendaftar</h3>
            <p name="txtTipeSekolahCancelled"
                style="font-size: 14px; font-weight: var(--font-medium); margin-top: 5px;">
                Tipe Sekolah
            </p>
        </div>

        <div class="flex-row gravity-end" style="margin-right: 24rem;">
            <div name="btnDetailSiswaCancelled" class="card-bukti-bayar">
                <i class="fa-solid fa-user-graduate"></i>
                <p style="font-size: 16px; display: contents;">Detail</p>
            </div>
            <a name="btnSendWACancelled" href="#" class="card-wa-konfirmasi"><i class="fa-brands fa-whatsapp"></i></a>
        </div>

        <div class="flex-row gravity-end">
            <div class="no-pendaftaran" style="margin: 3rem 1.5rem 0 2rem;">
                Nominal Bayar
                <p name="txtNominalBayarCancelled"
                    style="font-size: 20px; font-weight: var(--font-bold); margin-top: 5px;">
                    Rp 0,00
                </p>
            </div>
            <div class="button-konfirmasi flex-column" style="margin: 2rem 0;">
                <button name="btnExtend" type="button" class="button-setujui">Perpanjang 12 Jam</button>
                <button name="btnDelete" type="button" class="button-tolak">Hapus</button>
            </div>
        </div>
    </div>
</div>