<div class="card-menunggu-pembayaran">
    <div class="box-menunggu-pembayaran">
        <div class="no-pendaftaran" style="margin: 2rem;">
            No. Pendaftaran
            <p name="txtNoPendaftaranInitial" style="font-size: 20px; font-weight: var(--font-bold); margin-top: 5px;">
                000
            </p>
        </div>
        <div class="nama-pendaftaran" style="margin: 2rem;">
            <h3 name="txtNamaSiswaInitial">Nama Pendaftar</h3>
            <p name="txtTipeSekolahInitial" style="font-size: 14px; font-weight: var(--font-medium); margin-top: 5px;">
                Tipe Sekolah
            </p>
        </div>
        <div class="button-konfirmasi flex-column gravity-end" style="margin-right: 12rem;">
            <div class="flex-row" style="justify-content: space-between; min-width: 160px;">
                <button name="btnDetailSiswaInitial" type="button" class="button-setujui"><i class="fa-solid fa-user-graduate"></i> Detail</button>
                <a name="btnSendWAInitial" href="#" class="card-wa-konfirmasi"><i class="fa-brands fa-whatsapp"></i></a>
            </div>
            <button name="btnSetujuiForce" type="button" class="button-tolak" style="display: none;">
                <i class="fa-solid fa-triangle-exclamation"></i> Langsung Setujui
            </button>
        </div>
        
        <div class="no-pendaftaran gravity-end" style="margin: 2rem;">
            Nominal Bayar
            <p name="txtNominalBayarInitial" style="font-size: 20px; font-weight: var(--font-bold); margin-top: 5px;">
                Rp 0,00
            </p>
        </div>
    </div>
</div>