<div class="card-menunggu-konfirmasi">
    <div class="box-menunggu-konfirmasi">
        <div class="flex-row">
            <div class="no-pendaftaran" style="margin: 2rem;">
                No. Pendaftaran
                <p name="txtNoPendaftaran" style="font-size: 20px; font-weight: var(--font-bold); margin-top: 5px;">
                    025
                </p>
            </div>
            <div class="nama-pendaftaran" style="margin: 2rem;">
                <h3 name="txtNamaSiswa">Nama Pendaftar</h3>
                <p name="txtTipeSekolah" style="font-size: 14px; font-weight: var(--font-medium); margin-top: 5px;">
                    Tipe Sekolah
                </p>
            </div>
        </div>

        <div class="flex-row gravity-end" style="margin-right: 18rem;">
            <div name="btnDetailSiswa" class="card-bukti-bayar" style="margin-right: .6rem;">
                <i class="fa-solid fa-user-graduate"></i>
                <p style="font-size: 16px; display: contents;">Detail</p>
            </div>
            <div name="btnBukaBuktiBayar" class="card-bukti-bayar">
                <i class="fa-solid fa-file-invoice-dollar"></i>
                <p style="font-size: 16px; display: contents;">Bukti Bayar</p>
            </div>
            <a name="btnSendWA" href="#" class="card-wa-konfirmasi"><i class="fa-brands fa-whatsapp"></i></a>
        </div>

        <div class="flex-row gravity-end">
            <div class="no-pendaftaran" style="margin: 3rem 1.5rem 0 2rem;">
                Nominal Bayar
                <p name="txtNominalBayar" style="font-size: 20px; font-weight: var(--font-bold); margin-top: 5px;">
                    Rp 0,00
                </p>
            </div>
            <div class="button-konfirmasi flex-column" style="margin: 2rem 0;">
                <button name="btnSetujui" type="button" class="button-setujui">Setujui</button>
                <button name="btnTolak" type="button" class="button-tolak">Tolak</button>
            </div>
        </div>
    </div>
</div>