<div class="card-menunggu-konfirmasi">
    <div class="box-menunggu-konfirmasi">
        <div class="flex-row">
            <div class="no-pendaftaran" style="margin: 2rem;">
                No. Pendaftaran<p style="font-size: 20px; font-weight: var(--font-bold); margin-top: 5px;">
                    025</p>
            </div>
            <div class="nama-pendaftaran" style="margin: 2rem;">
                Nama Pendaftar<p style="font-size: 14px; font-weight: var(--font-medium); margin-top: 5px;">
                    Tipe Sekolah</p>
            </div>
        </div>

        <div class="tempat-button-dibayar flex-row gravity-end">
            <div style="display: contents;">
                <div class="line-tempat-button-banyak"></div>
                <div class="card-dibayar card-color-leaf">Lulus Tahap Pertama</div>
                <div class="card-dibayar card-color-leaf">Lulus</div>
                <div class="card-dibayar card-color-Dandelion">Lulus Bersyarat</div>
                <div class="card-dibayar card-color-Dandelion">Cadangan</div>
                <div class="card-dibayar card-color-rose">Belum Diterima</div>
                <div class="card-wa-konfirmasi"><i class="fa-brands fa-whatsapp"></i></div>
            </div>
        </div>
    </div>
</div>