<div name="selectable-card" class="selectable-card">
    <input name="paid-checkbox" type="checkbox" hidden>
    <label name="selectable-label">
        <div class="box-selectable">
            <div class="no-pendaftaran" style="margin: 2rem;">
                No. Pendaftaran
                <p name="txtNoPendaftaranSelectable"
                    style="font-size: 20px; font-weight: var(--font-bold); margin-top: 5px;">
                    000
                </p>
            </div>
            <div class="nama-pendaftaran" style="margin: 2rem;">
                <h3 name="txtNamaSiswaSelectable">Nama Pendaftar</h3>
                <p name="txtTipeSekolahSelectable"
                    style="font-size: 14px; font-weight: var(--font-medium); margin-top: 5px;">
                    Tipe Sekolah
                </p>
            </div>
            <div class="flex-row gravity-end" style="margin-right: 18rem;">
                <div name="btnDetailSiswaSelectable" class="card-bukti-bayar">
                    <i class="fa-solid fa-user-graduate"></i>
                    <p style="font-size: 16px; display: contents;">Detail</p>
                </div>
                <a name="btnSendWASelectable" href="#" class="card-wa-konfirmasi"><i
                        class="fa-brands fa-whatsapp"></i></a>
            </div>
            <div class="no-pendaftaran gravity-end" style="margin: 2rem;">
                Nominal Bayar
                <p name="txtNominalBayarSelectable"
                    style="font-size: 20px; font-weight: var(--font-bold); margin-top: 5px;">
                    Rp 0,00
                </p>
            </div>
        </div>
    </label>
</div>